body {
    background-color: rgb(135, 84, 25);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
}

h1 {
    font-family: 'Henny Penny', cursive;
    font-weight: bolder;
    font-style: italic; 
    font-size: 80px;
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    font-family: 'Lumanosimo', cursive;
    font-weight: bolder;
    font-style: italic; 
    font-size: 60px;
margin-top: 0;
margin-bottom: 0;
}

#pageimage {
    width: 1200px; 
    height: 600px; 
    object-fit: fill;
    align-items: center;
    display: flex;
    flex-direction: column;
}
img {
    width: 1200px; 
    height: 600px; 
    object-fit: fill;
    display: flex;
    flex-direction: column;
align-items: center;
}

p {
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    font-style: normal; 
    font-size: 30px;
    text-indent: 50px;
    margin-top: .5em ;
    margin-bottom: .5em ;
}


.button-container1 {
    color: green;
    background-color: rgb(200, 255, 0);
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic; 
    font-size: 30px;
display: flex;
justify-content: space-around;
background: transparent;
}

.button-container2 {
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic; 
    font-size: 30px;
display: flex;
justify-content: space-around;
}

#choice1 {
    color: green;
    background-color: rgb(200, 255, 0);
    font-family: 'Times New Roman', serif;
    font-weight: bolder;
    font-style: italic; 
    font-size: 30px;
    border-radius:1em;
    background: transparent;
    padding: 5px 10px 15px 20px;
    margin: 10px 400px 10px 8px;
}

#choice1:active{
    background-color: rgb(200, 255, 0);
     }

     #choice3 {
        color: green;
        background-color: rgb(200, 255, 0);
        font-family: 'Times New Roman', serif;
        font-weight: bolder;
        font-style: italic; 
        font-size: 30px;
        border-radius:1em;
        background: transparent;
        padding: 5px 10px 15px 20px;
        margin: 10px 400px 10px 8px;
    }
    
    #choice3:active{
        background-color: rgb(200, 255, 0);
         }

         #choice2 {
            color: green;
            background-color: rgb(200, 255, 0);
            font-family: 'Times New Roman', serif;
            font-weight: bolder;
            font-style: italic; 
            font-size: 30px;
            border-radius:1em;
            background: transparent;
            padding: 5px 10px 15px 20px;
            margin: 10px 0px 10px 8px;
        }
        
        #choice2:active{
            background-color: rgb(200, 255, 0);
             }

             #choice4 {
                color: green;
                background-color: rgb(200, 255, 0);
                font-family: 'Times New Roman', serif;
                font-weight: bolder;
                font-style: italic; 
                font-size: 30px;
                border-radius:1em;
                background: transparent;
                padding: 5px 10px 15px 20px;
                margin: 10px 0px 10px 8px;
            }
            
            #choice4:active{
                background-color: rgb(200, 255, 0);
                 } 
        
            #start1 {
                color: green;
                background-color: rgb(200, 255, 0);
                font-family: 'Times New Roman', serif;
                font-weight: bolder;
                font-style: italic; 
                font-size: 30px;
                border-radius:1em;
                background: transparent;
                padding: 5px 10px 15px 20px;
                margin-bottom: 20px;
                 }
                    
                    #start1:active {
                        background-color: rgb(200, 255, 0);
                         }

            #mute{
                font-family: 'Times New Roman', serif;
                font-weight: bolder;
                font-style: normal;
                font-size: 20px;
                margin-top: 20px;
                color: purple;
                         }

                         #pageneg{
                            max-width: 25%;
                            max-height: 25%
                            width 300px; 
                            height: 150x; 
                                     }
                 